<section class="p-5">
  <h1>Bienvenidos!</h1>
  <h2>Estamos en {{ numeroDeLaClase }}</h2>

  <img src="{{image}}">
  <!-- o -->
  <!-- <img [src]="image"> -->

  <h2>El total de la suma entre {{ firstNumber }} y {{ secondNumber }} es: {{ firstNumber + secondNumber }}</h2>

  <h2>Texto desde función: <span class="fw-bold">{{getText()}}</span></h2>

  <hr>

  <h1>USUARIOS</h1>
  <h2>Nombre del usuario: {{user.name}}</h2>

  <hr>
  <h1>Directivas de atributos</h1>
  <h2>ngModel</h2>
  <input type="text" [(ngModel)]="firstNumber">
  <br>
  <h2>ngClass</h2>
  <h3 [ngClass]="state == true ? 'isTrue' : 'isFalse'">Es verdadero</h3>
  <br>
  <h2>ngStyle</h2>
  <h3 [ngStyle]="{'color': state == true ? 'green' : 'red'}">Es verdadero</h3>
  <br>
  <hr>
  <h1>Directivas estructurales</h1>
  <h2>ngIf</h2>
  <h3 *ngIf="state == true" class="isTrue">Es verdadero</h3>
  <h3 *ngIf="state == false" class="isFalse">Es falso</h3>
  <br>
  <h4>Usando else</h4>
  <h3 *ngIf="state; else esFalso" class="isTrue">Es verdadero</h3>
  <ng-template #esFalso>
    <h3 class="isFalse">Es falso</h3>
  </ng-template>
  <br>
  <h2>ngFor</h2>
  <ul>
    <li *ngFor="let course of courses; let i = index;">{{ course }} / {{i+1}}</li>
  </ul>
  <br>
  <h2>ngSwitch</h2>
  <h3 [ngSwitch]="state">
    <span *ngSwitchCase="true">Es verdadero</span>
    <span *ngSwitchCase="false">Es falso</span>
  </h3>
  <br>
  <h2>ngTemplateOutlet</h2>
  <ng-template #templateOutlet>
    <h3>Esto es un template</h3>
  </ng-template>
  <h3 [ngTemplateOutlet]="templateOutlet"></h3>
  <br>
  <h2>ngPlural</h2>
  <h3 [ngPlural]="courses.length">
    <ng-template ngPluralCase="=0">No hay cursos</ng-template>
    <ng-template ngPluralCase="=1">Hay un curso</ng-template>
    <ng-template ngPluralCase="other">Hay {{courses.length}} cursos</ng-template>
  </h3>
  <hr>
  <h3>Statements</h3>
  <button type="button" class="btn btn-primary" (click)="deleteHero()">Delete hero</button> <br><br>
  <input type="text" class="form-control" (ngModelChange)="search(toSearch)"  [(ngModel)]="toSearch">
</section>
